body {
	font-family: monospace;
	line-height: 25px;
	background-color:#ecf4f3; 
}
body {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #ecf4f3;
  }
  30% {
    background-color: #DDA0DD;
  }
}

  justify-content: center;
  text-align: center;